In [8]:
import sqlite3
c = sqlite3.connect('films.db')
cursor = conn.cursor()

In [9]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('actors',),
 ('directors',),
 ('writers',),
 ('movies',),
 ('movie_actors',),
 ('movie_directors',),
 ('movie_writers',)]

In [10]:
cursor.execute('PRAGMA table_info(movies)')
cursor.fetchall()

[(0, 'id', 'INT', 0, None, 0),
 (1, 'title', 'TEXT', 0, None, 0),
 (2, 'studio', 'TEXT', 0, None, 0),
 (3, 'runtime', 'REAL', 0, None, 0),
 (4, 'description', 'TEXT', 0, None, 0),
 (5, 'release_date', 'NUM', 0, None, 0),
 (6, 'year', 'INT', 0, None, 0)]

In [11]:
movies_df = pd.read_sql('SELECT * FROM movies', conn)

In [12]:
movies_df[:2]

,id,title,studio,runtime,description,release_date,year
0,11784,!Women Art Revolution,Zeitgeist Films,83.0,"Through intimate interviews, art, and rarely s...",2011-06-01 00:00:00,2011
1,21806,#Horror,Lowland Pictures,90.0,You've got followers... Cyberbullying goes off...,2015-11-20 00:00:00,2015

In [ ]:
import pandas as pd

In [5]:
df = pd.read_csv('./movies_metadata.csv')

/Users/jeff/opt/miniconda3/envs/data_engineering/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [13]:
merged_df = movies_df.merge(df, on = ['title'])

In [14]:
merged_df[:2]

,id_x,title,studio,runtime_x,description,release_date_x,year,adult,belongs_to_collection,budget,...,production_countries,release_date_y,revenue,runtime_y,spoken_languages,status,tagline,video,vote_average,vote_count
0,11784,!Women Art Revolution,Zeitgeist Films,83.0,"Through intimate interviews, art, and rarely s...",2011-06-01 00:00:00,2011,False,NaN,0,...,[],2010-01-01,0.0,83.0,[],Released,40 years in the making!,False,4.3,2.0
1,21806,#Horror,Lowland Pictures,90.0,You've got followers... Cyberbullying goes off...,2015-11-20 00:00:00,2015,False,NaN,1500000,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2015-11-20,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Death is trending.,False,3.4,53.0

In [20]:
selected_cols = ['id_x', 'title', 'studio', 'runtime_x', 'description', 'release_date_x',
       'year', 'adult', 'revenue', 'budget', 'imdb_id', 
                 'popularity', 'tagline', 'vote_average', 'vote_count']

selected_df = merged_df[selected_cols]

In [25]:
df_revenue = selected_df[selected_df['revenue'] != 0.0]

In [28]:
df_revenue.columns = ['id', 'title', 'studio', 'runtime', 'description', 'release_date',
       'year', 'adult', 'revenue', 'budget', 'imdb_id', 'popularity',
       'tagline', 'vote_average', 'vote_count']

In [38]:
cols = ['id', 'title', 'runtime', 'revenue', 'budget', 'popularity',
       'vote_average', 'vote_count']

movies_updated = df_revenue[cols]

In [43]:
profit = pd.to_numeric(movies_updated['revenue']) - pd.to_numeric(movies_updated['budget'])

In [48]:
df_rev = movies_updated.assign(profit = profit)

In [49]:
df_rev[:2]

,id,title,runtime,revenue,budget,popularity,vote_average,vote_count,profit
3,201,'71,100.0,1625847.0,0,7.080550,6.7,414.0,1625847.0
5,19696,...And Justice for All,119.0,33300000.0,0,6.291512,7.1,118.0,33300000.0

### Joining Tables